@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 11, 54, 94;
    --background-end-rgb: 48, 106, 140;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background-image: url('../../public/images/code.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }

  .scrollbar::-webkit-scrollbar {
    width: 20px;
    height: 10px;
    padding-left: 15px;
  }

  .scrollbar::-webkit-scrollbar-track {
    border-radius: 100vh;
    background: #2d648400;
  }

  .scrollbar::-webkit-scrollbar-thumb {
    background: #2d648400;
    border-radius: 100vh;
    border: 3px solid #2d648400;
  }

  .scrollbar::-webkit-scrollbar-thumb:hover {
    background: #f6f7ed;
  }
}
